@function validate-radius($radius) {
  $return: ();
  @each $value in $radius {
    @if type-of($value) == number {
      $return: append($return, max($value, 0));
    } @else {
      $return: append($return, $value);
    }
  }
  @return $return;
}

@mixin border-radius($radius) {
  border-radius: validate-radius($radius);
}

@mixin border-radius-top($radius) {
  border-top-left-radius: validate-radius($radius);
  border-top-right-radius: validate-radius($radius);
}

@mixin border-radius-bottom($radius) {
  border-bottom-left-radius: validate-radius($radius);
  border-bottom-right-radius: validate-radius($radius);
}

@mixin border-radius-left($radius) {
  border-top-left-radius: validate-radius($radius);
  border-bottom-left-radius: validate-radius($radius);
}

@mixin border-radius-right($radius) {
  border-top-right-radius: validate-radius($radius);
  border-bottom-right-radius: validate-radius($radius);
}

@mixin border-radius-top-left($radius) {
  border-top-left-radius: validate-radius($radius);
}

@mixin border-radius-top-right($radius) {
  border-top-right-radius: validate-radius($radius);
}

@mixin border-radius-bottom-left($radius) {
  border-bottom-left-radius: validate-radius($radius);
}

@mixin border-radius-bottom-right($radius) {
  border-bottom-right-radius: validate-radius($radius);
}
