.btn {
  --#{$prefix}btn-border: #{$btn-border-color};

  background-color: #{$default-color};
  border-radius: #{$btn-border-radius};
  padding: #{$btn-y-padding} #{$btn-x-padding};
  color: #{$text-color};
  box-shadow: 0 #{$btn-shadow-size} 0 var(--#{$prefix}btn-border);
  font-size: #{$btn-text-size};
  font-weight: #{$btn-text-weight};
  border: solid 2px var(--#{$prefix}btn-border);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-bottom: 0.6em;
  &:hover {
    transform: translateY(
      calc(#{$btn-shadow-size} - #{$btn-shadow-hover-size})
    );
    box-shadow: 0 #{$btn-shadow-hover-size} 0 var(--#{$prefix}btn-border);
    color: #{$text-color};
  }
  &:active {
    transform: translateY(
      calc(#{$btn-shadow-size} - #{$btn-shadow-active-size})
    );
    box-shadow: 0 #{$btn-shadow-active-size} 0 var(--#{$prefix}btn-border);
  }
  &:focus {
    outline: none;
  }
  &[disabled] {
    opacity: 0.65;
    cursor: not-allowed;
    transform: translateY(
      calc(#{$btn-shadow-size} - #{$btn-shadow-active-size})
    );
    box-shadow: 0 #{$btn-shadow-active-size} 0 var(--#{$prefix}btn-border);
  }
  &.accent {
    --#{$prefix}btn-border: #{darken($default-color, 15%)};
  }
  &.flat {
    box-shadow: none;
    transform: translateY(0);
    border-color: #{$btn-secondary-border};
    background-color: transparent;
    margin-bottom: 0.3rem;
    &:hover:not([disabled]) {
      border-color: lighten($text-color, 10%);
      background-color: lighten(#000, 80%);
    }
    &:active:not([disabled]) {
      border-color: darken($text-color, 10%);
      background-color: lighten(#000, 60%);
    }
  }
  /* Colors */
  @each $name, $color in $colors {
    &.#{$name} {
      background-color: #{$color};
    }
    &.flat.#{$name} {
      background-color: lighten($color, $amount: 16%);
      border-color: darken($color, 5%);
      &:hover {
        background-color: lighten($color, 5%);
        border-color: darken($color, 20%);
      }
      &:active {
        background-color: darken($color, 5%);
        border-color: darken($color, 30%);
      }
    }
    &.accent.#{$name} {
      /* get color equivalent from $shadow as border color */
      --#{$prefix}btn-border: #{map-get($shadows, $name)};
    }
  }
}
